// for special price section

// special price grid
#special-price{
    .grid{
        float: left;
        width: 200px;
        margin-right: 12px;
    }
    .grid .grid-item{
        margin-top: 1rem;
    }
}